@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<section class="bio">
    <h3>Craig Peterson</h3>
    <img src="~/Content/Images/cp_headshot.jpg" alt="Craig Headshot" />
    <p>Craig has been in the bakery business for zero years. At home, he occasionally bakes muffins, cookies, and brownies. Additionally, he has been known to bake banana bread when the bananas get too ripe. He is, however, a self-proclaimed expert on the deliciousness of sandwiches and pie.</p>
</section>

<section class="bio">
    <h3>Tomi Olubeko</h3>
    <img src="~/Content/Images/tomi_headshot.jpg" alt="Tomi Headshot" />
    <p>Tomi fell in love with baking at the tender age of 10. He started out his baking business by baking cookies for his middle school. The happy smiles and sincere gratitude he received made him fall in love with baking. He is a jovial fellow who loves to bake, an is especially proud
    of his key lime pie, and, of course, his chocolate chip cookies.</p>
</section>
