@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Contact Craig:</strong> <a href="mailto:craig.peterson@seattlecentral.edu">craig.peterson@seattlecentral.edu</a><br />
    <strong>Contact Tomi:</strong> <a href="mailto:oluwatomisin.olubeko@seattlecentral.edu">oluwatomisin.olubeko@seattlecentral.edu</a>
</address>