@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotronbg">
    <h1>Craig and Tomi's Bakery</h1>
    <p class="lead">Welcome to our world famous bakery where we've been crafting delicious treats since 2018!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>We offer delicious donuts, pastries, and pie. To wash it all down, please select from our vast variety of coffee options.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Product")">view products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Update Menu</h2>
        <p>New! Add products to the menu with an easy-to-use form.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "AddProduct")">add products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Ever wonder who the heck runs this place? Check out our totally true bios!</p>
        <p><a class="btn btn-default" href="@Url.Action("About", "Home")">meet Craig &amp; Tomi &raquo;</a></p>
    </div>
</div>