body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table.table {
    max-width: 600px;
}

td.product-image {
    width: 200px;
    font-size: 1.5em;
    text-align: center;
}

.table img {
    width: 100px;
}

.table tbody > tr > td.price {
    width: 200px;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
}

.table tbody > tr > td.buy {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

section.bio {
    max-width: 400px;
    background-color: #f1f1f1;
    padding: 1em;
    margin-right: 1em;
    border-radius: 1em;
    float: left;
}

section.bio h3 {
    margin-top: 0;
}

section.bio img {
    width: 372px;
}

section.bio p {
    margin-top: 1em;
}

footer {
    clear: both;
    padding-top: 1em;
}

body div.container div.jumbotronbg {
    background-image: url("/Content/Images/jumbotronbg.jpg");
    color: #fff;
    border-radius:0;
}